<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
</head>

<body>
  <h1>My Node App</h1>
  <form method="get" action="/v1/">
    <label for="ruc">Ruc</label>
    <input type="text" name="ruc">
    <input type="submit" value="Search">
  </form>
  <h4>Items:</h4>
  <ul>
    <li>
      <%= item.nombre_o_razon_social %>
    </li>
  </ul>
</body>

</html>